<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
=======
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
>>>>>>> ffa5ce9d4e530270ebdd5992676ddda607c71668
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
